<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
    	<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%t:%r] %-d{yyyy-MM-dd HH:mm:ss}(%c) - [%5p] %m%n" />
		</Console>
<!-- 
        <RollingFile name="ErrorFile" fileName="${sys:catalina.home}/logs/fos-provider/error/log.log"
                     filePattern="$${sys:catalina.home}/logs/fos-provider/error/log_%d{yyyy-MM-dd}.log.%i">
            <ThresholdFilter level="error" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout pattern="[%t:%r] %-d{yyyy-MM-dd HH:mm:ss}(%c) - [%5p] %m%n"/>
            <SizeBasedTriggeringPolicy size="30 MB"/>
        </RollingFile>

        <RollingFile name="InfoFile" fileName="${sys:catalina.home}/logs/fos-provider/info/log.log"
                     filePattern="$${sys:catalina.home}/logs/fos-provider/info/log_%d{yyyy-MM-dd}.log.%i">
            <PatternLayout pattern="[%t:%r] %-d{yyyy-MM-dd HH:mm:ss}(%c) - [%5p] %m%n"/>
	        <Policies>
	              <TimeBasedTriggeringPolicy />
	              <SizeBasedTriggeringPolicy size="30 MB"/>
	         </Policies>
        </RollingFile> -->
        <!--	<RabbitMQ name="rabbitMQ">
                <Pattern>%m%n</Pattern>
            </RabbitMQ>
    -->
    </Appenders>
    <Loggers>
        <Root level="debug">
			<AppenderRef ref="Console" /> 
             <!--<AppenderRef ref="InfoFile"/>
            <AppenderRef ref="ErrorFile"/>
           	<AppenderRef ref="rabbitMQ" />-->
        </Root>
    </Loggers>
</Configuration>